@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #090b13;
  color: #FFF;
}

.parrafos {
  color: #7b7e86;
}

.bg--white {
  background-color: #fff;
  ;
}


.flecha {
  background-color: #b8c7c5;
}

.glass-effect {
  background-color: #00000060;
}

.glass-effect-2 {
  background-color: #Ffffff60;
}

.menu-custom{
  background-color: #1e1f2a;
}



.main-image {
  position: relative;
  background: url(/images/cities-skylines-ii.webp) no-repeat center;
  background-size: cover;
  overflow: hidden;
  margin-top: 56px;
}

.main-image2 {
  position: relative;
  background: url(/images/cities-skylines-ii-clean.webp) no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.main-image3 {
  position: relative;
  background: url(/images/cities-skylines-ii-media.webp) no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.main-image4 {
  position: relative;
  background: url(/images/starfield-01.webp) no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.bg-fondo {
  background-color: rgba(0, 0, 0, 0.1);
}


.banner-home {
  display: flex;
  height: 200px;
  color: #FFF;
  text-align: center;
  justify-content: center;
  align-items: center;

}



.banner-home-content {
  max-width: 700px;
  margin: auto !important;
}

.logo-leal {
  width: 150px;
  height: auto;
}

.btn-sociales-content {
  margin: 5px 0px;
  position: relative;
  overflow: hidden;
  height: 100px;
  transition: all 600ms;
  border: 1px solid rgb(174, 171, 171);

}

.btn-social-img {
  width: 100%;
  height: 100%;
}

.btn-social-icon {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;

}


.link-destacados {
  padding: 10px 1rem;
  width: 80%;
  transition: all 600ms;
  border: 1px solid #222831;
  margin-bottom: 20px;
  text-decoration: none !important;
  background-color: #1e1f2a;
  color: #FFF;

}

.link-destacados:hover {
  color: #FFF;
  border: 1px solid #e74646;
}

.btn-social-icon:hover,
.link-destacados:hover {
  background: #e74646;
  transition: all 600ms;
  color: #FFF;
}


.btn-variant {
  padding: 15px 0;
}

.btn-variant a {
  text-decoration: none !important;
  color: #FFF;
  background: #e74646;
  border-radius: 50px;
  padding: 5px 10px;
  border: 1px solid #e74646;
  transition: all 600ms;
  font-size: 14px;
}

.btn-variant a:hover {
  color: #e74646;
  border: 1px solid #e74646;
  background: #FFF;
}

.btn-variant-2 {
  padding: 15px 0;
}

.btn-variant-2 a {
  text-decoration: none !important;
  color: #e74646;
  background: #FFF;
  border-radius: 50px;
    padding: 5px 10px;
    border: 1px solid #e74646;
    transition: all 600ms;
    font-size: 14px;
}

.btn-variant-2 a:hover {

  color: #FFF;
  border: 1px solid #f9f9f9;
  background: #b35858;
}

.carrousel-content {
  display: flex;
  align-items: center;
  justify-items: center;
  padding-top: 20px;
}

.carrousel-box {
  padding: 30px 30px 40px 30px;
}

.carrousel-image {
  border-radius: 10px;
}

.foto {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .carrousel-box {
    padding: 50px 150px;
  }
}

.mediabanner-container {
  height: 200px;
  display: flex;
  align-items: center;
  margin-top: 56px;
  margin-bottom: 30px;

}

.mediabanner-content {
  color: #FFF;
  text-align: center;
}


.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  border-radius: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #FFF;
  border: 1px solid #e74646;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #FFF;
  background: #e74646;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.info-miniCard {
  border: 2px solid rgba(249, 249, 249, 0.1);
  transition: all 600ms;
  background-color: #00000060;
  overflow: hidden;

}

.info-miniCard-image {
  height: auto;
  position: relative;
  overflow: hidden;
}

.info-miniCard-image img {
  width: 100%;
}

.info-miniCard-content {
  font-size: 16px;
  margin: 10px;
  text-align: center;

}

.info-miniCard:hover {
  transform: scale(1.04);
  border: 2px solid rgb(249, 249, 249);
}

.workshop-link {
  text-decoration: none;
  color: #FFF;
}

.info-card,
.portfolio-wrap {
  border: 1px solid rgba(249, 249, 249, 0.1);
  transition: all 600ms;
  background-color: #1e1f2a;


}

.info-card-destaque {
  border: 1px solid rgba(249, 249, 249, 0.1);
  background-color: #1e1f2a;
}

.info-card-destaque-2 {
  border: 1px solid #b8c7c5;
  background-color: #1e1f2a;
}

.info-card:hover,
.portfolio-wrap:hover {
  transform: scale(1.04);
  border: 2px solid rgb(249, 249, 249);
}

.info-card-image {
  height: auto;
  position: relative;
  overflow: hidden;
}

.info-card-status {
  position: absolute;
  right: 0;
  padding: 5px 10px;
  color: #FFF;
  border-radius: 50px;
  margin: 10px;
}

.info-card-image img {
  width: 100%;
}

.info-card-body-title {
  font-size: 20px;
  font-weight: 800;
  color: #FFF;

}

.info-card-body {
  padding: 0px 10px 10px;
}

.info-card-body-meta {
  margin-bottom: 5px;
  color: #c6c9d1;
}

.setup-container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b8c7c5;
}

.setup-content span {
  font-size: 40px;
}

.setup-image {
  border-radius: 10px;
  overflow: hidden;
}

.setup-image img {
  width: 100%;
}

.links {
  text-decoration: none;
}

.slide-card {
  padding: 25px 10px;
  background-color: #00000060;


}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 2rem;
  height: 3rem;
  border-radius: 10px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 3% !important;
}

.carousel-indicators [data-bs-target] {
  width: 5px !important;
  height: 5px !important;
}

.carousel-indicators .active {
  width: 30px !important;
}

.img-yt-10000 {
  width: 100%;
  max-width: 400px;
  margin: 10px;
}

.banner-promo {
  background: #e74646;
  color: #FFF;
  padding: 5px;
}

.banner-promo-btn {
  background-color: #FFF;
  text-decoration: none;
  color: #e74646;
  padding: 10px 20px;
  border-radius: 25px;
  margin-left: 20px;
  margin-right: 20px;

}